// Global Vaiables
$footer-hieght: 100px; // fixed footer height. This does not interfere with responsiveness

// Layouts Stuff
html, body{
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -$footer-hieght;
}

/* Set the fixed height of the footer here */
#footer {
  height: $footer-hieght;
  background-color: #000;
  color: #FFF;
}

// message popup
#alert-message{
  top: 30%;
  opacity: .98;
  position: fixed;
  width: 100%;
  display: none;
  z-index: 100; // keep on top
  .alert-content-container{
    border-radius: 10px;
  }
}