.text-center
  %h3 Great bounty!
  %table.table
    %thead
      %tr
        %th Item
        %th Value
        %th Quantity
        %th Total Value
    %tbody
      %tr
        %td iPhone 6
        %td $600
        %td 5
        %td $3000