#home
  .row
    %hr.invisible
    %hr.invisible
    .col-md-12.text-center.opaque
      %h1 Welcome to Apple Thief
      %h3 The app that helps you maximize your robbery
  .row
    %hr.invisible
    %hr.invisible
    %hr.invisible
    %hr.invisible
    %hr.invisible
    %hr.invisible
    %hr.invisible
    .col-md-6.col-md-offset-3.margin-top-100
      .alert.alert-success.text-center
        %p I understand that by using this app I'm probably going to end up on at least one goverment watchlist. 
        %p The creators of this application have designed it completely for comedy purposes and it is in no way intened to be used to plan an actual robbery. 
        %p Now...let's go plan that robbery...
        %br
        = link_to "Enter Site", bags_path, class: "btn btn-primary btn-lg"