.text-center
  .row
    .col-md-2.col-md-offset-5
      = image_tag "apple-logo.png", class: "img img-responsive"
  %h3 Item Selection
  %p Assign a priority to any items that you would like to be more highly considered.
  %p Specify any quantities of items that you want to make sure that you get.
  %p A bunch of items here ...
  = link_to "Check out", public_check_out_path, class: "btn btn-primary"