#footer
  .container.text-center
    %br
    %p 
      Created by 
      = link_to "James Klein", "http://www.jamesmklein.com", target: "_blank"
      and Kaila Corrington
    %p CS 4800 Algorithms and Data Structures
